@charset "utf-8";
/* CSS Document */

.member_top{padding-bottom:40px;width:100%; overflow:hidden; position:relative;}
.member_img{  width:100%; text-align:center; background-color:#92bbb6;overflow:hidden;}
.member_img img{ float:left;width:100%; max-width:720px;}
.member_name{position:absolute; bottom:40px; width:100%; height:75px; line-height:50px; color:#ffffff; background:rgba(0,0,0,0.4); overflow:hidden;text-align:left; z-index:90; text-indent:100px; }
.member_photo{position:absolute; left:10px; bottom:43px; z-index:99; width:60px; height:60px; padding:2px; background:#fff; 
-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;border-radius:5px;}
.member_comment{position:absolute; bottom:0px; right:10px; z-index:99;height:30px; line-height:30px; text-align:right; font-size:14px; color:#4b4c4d; font-weight:600;}
.member_comment a{color:#606060; }
.member_comment span{color:#d5124a; margin:0 5px;}

.member_bottom{height:auto; overflow:hidden; margin-top:15px;}
.member_bottom a{display:block; width:27.3%; height:auto; overflow:hidden; margin:10px 3% 0 3%; float:left; text-align:center;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;}
.member_bottom a span{display:block; width:68px; height:30px; margin:0 auto; background:#f7f7f7; padding:14px 10px 0 10px;}
.member_bottom a p{height:20px; line-height:20px; text-align:center; font-size:14px; color:#000000; background:#f7f7f7; width:68px; margin:0 auto;  padding:0 10px 14px 10px;}

.list_title{margin:10px; margin-bottom:0px; padding:0 10px; background:#ebebeb; height:40px; line-height:40px; font-size:16px; text-align:left; }

.list_msg{ position:relative; margin:0 10px; padding:10px; background:#f7f7f7; border:1px #e4e4e4 solid; text-align:left; overflow:hidden;}
.list_msg ul{ line-height:1.5em;}
.list_with_img{ padding:10px 10px 10px 92px;}
.list_with_img img{ position:absolute; left:10px; top:10px; width:70px; height:70px; border:1px solid #e4e4e4;}


.password_table {padding:10px 10px 0;color:#606060;}
.xgmm{height:36px; border:1px #ebebeb solid; background:#fff; width:100%; text-indent:4px;color:#adadad;}

.password{height:36px; position:relative;}
.sc_ioc{width:15px; height:15px; position:absolute; right:10px; top:10px;}

.mycomments{height:auto; overflow:hidden; padding:10px; border-bottom:1px solid #d1d1d1;}
.mycomments_top{height:auto; overflow:hidden; position:relative; padding-left:105px;}
.mycomments_img img{width:95px; height:95px; border:1px solid #ebebeb; position:absolute; left:0; top:0;}
.mycomments_right{height:101px; overflow:hidden; text-align:left;}
.mycart_text{padding-left:10px;}
.mycomments_title{height:30px; overflow:hidden; text-align:left; font-size:16px; color:#000000; line-height:30px;}
.mycomments_sj{height:30px; line-height:30px; text-align:left; font-size:14px; color:#606060;}
.mycomments_bottom{height:38px; line-height:38px; margin-top:10px; text-align:left;}
.mycomments:last-child{border:none;}
.mycomments_bottom a:last-child{float:right;}

.Leave_a_comment{height:auto; overflow:hidden; margin-top:10px; padding:10px;}
.Leave_a_comment table{margin:0 auto; font-size:14px;color:#606060;}
.Leave_a_comment td span{color:#d5124a; font-weight:600; font-size:18px;}
.comment_text{width:95%; height:45px; line-height:22px; text-align:left; padding:5px; font-size:14px; color:#606060;border:1px #ebebeb solid;}
.Leave_a_tex{height:30px; line-height:30px; text-align:center; margin-top:10px;}
.Leave_a_tex a{font-size:16px; color:#0059a9; border-bottom:1px solid #0059a9; padding:0 5px;}
.Leave_a_img{height:auto; overflow:hidden; text-align:center;}
.Leave_a_list{width:95px; height:95px; padding:2px; border:1px solid #ebebeb; display:inline-block; margin:5px;}
.Leave_a_list img{width:95px; height:95px;}

.Append_comments{height:auto; overflow:hidden; padding:10px; border-bottom:1px solid #d1d1d1;}
.Append_title{height:30px; line-height:30px; text-align:left; color:#d71249; font-weight:600; font-size:18px;}
.Append_title span{float:right; color:#adadad; font-size:14px; font-weight:100;}
.pl_xq_bottom_center{height:auto; overflow:hidden; margin-top:10px; text-align:left; font-size:14px; color:#606060; line-height:22px;}
.pl_xq_bottom_bottom{height:auto; overflow:hidden; margin-top:10px; text-align:left; font-size:14px; color:#606060; line-height:22px;}
.pl_xq_bottom_bottom span{font-weight:600; display:block;}
.pl_xq_img{width:100px; height:100px; overflow:hidden; margin:0;}
.pl_xq_img img{width:90px; height:90px; padding:4px; background:#fff; border:1px solid #ebebeb;}

.Review_boys{height:auto; overflow:hidden; padding: 5px 10px 10px 10px; border-top:1px solid #ebebeb;}
.Review_title{line-height:20px;text-align:left;}
.Review_title span{font-size:12px; color:#909090; }
.pl_xq_bottom_ly{height:auto; overflow:hidden; margin-top:10px;}
.pl_xq_bottom_ly ul{padding:0 10px; background:#f7f7f7; border:1px solid #ebebeb;}
.pl_xq_bottom_ly ul li{height:auto; overflow:hidden; text-align:left; padding:10px 0; border-bottom:1px solid #ebebeb; font-size:14px; color:#606060; line-height:22px; display:table; width:100%;}
.pl_xq_bottom_ly ul li div{display:table-cell; width:2%;}
.pl_xq_bottom_ly ul li div.ly_nr{padding-left:10px; width:90%; font-size:14px;}
.pl_xq_bottom_ly ul li span{display:block; color:#909090; font-size:12px;}
.pl_xq_bottom_ly ul li:last-child{border:none;} 

.sc_title{height:40px; line-height:40px; background:#f2f2f2; border-bottom:1px solid #e0e0e0; text-align:left; padding:0 10px; font-size:16px; color:#4b4c4d; overflow:hidden;}
.sc_title span{float:right;}
.sc_title span a{padding:0 5px; display:inline-block; min-width:70px; height:30px; line-height:30px; text-align:center; background:#fff; border:1px solid #e0e0e0; color:#606060; font-size:14px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;}

.myfavorites{height:auto; overflow:hidden; padding:10px; border-bottom:1px solid #d1d1d1;}
.myfavorites:last-child{border:0;}
.myfavorites_top{height:auto; overflow:hidden; position:relative;}
.myfavorites_img img{width:95px; height:95px; padding:2px; border:1px solid #ebebeb; position:absolute; left:0; top:0;}
.myfavorites_right{overflow:hidden; padding-left:115px; text-align:left;}
.myfavorites_title{height:62px; overflow:hidden; text-align:left; font-size:14px; color:#909090; line-height:20px;}
.myfavorites_title span{display:block; font-size:16px; color:#000000;}
.myfavorites_sj{height:24px; line-height:24px; text-align:left; font-size:16px; color:#d5124a; font-weight:600;}
.myfavorites_sj span{float:right; font-size:14px; color:#adadad; font-weight:100;}
.myfavorites_bottom{height:35px; line-height:35px; margin-top:10px; text-align:right;}
.myfavorites_title a.activemsg{ line-height:1em;}

.myconsulting{height:auto; overflow:hidden; padding:10px; border-bottom:1px solid #d1d1d1;}
.myconsulting:last-child{border:0;}
.myconsulting_top{height:auto; overflow:hidden; position:relative; text-align:left; line-height:24px; font-size:14px; color:#606060;}
.myconsulting_top p{color:#000000; font-size:16px;}
.myconsulting_top span{display:block;color:#adadad;}
.boys_fl_list_2{height:auto; overflow:hidden; position:relative; padding-top:14px;}
.sj1{width:21px; height:15px; position:absolute; left:30px; top:0;}
.boys_fl_txt{height:auto; overflow:hidden; padding:15px; text-align:left; border:1px solid #ebebeb; font-size:14px; color:#606060; line-height:22px; }
.boys_fl_txt span{display:block; color:#adadad;}

.Login{margin:10px 10px 0 10px; height:auto; overflow:hidden;}
.Login_top{height:35px; padding:5px 10px 0 10px; border:1px solid #d4d4d4; border-bottom:0; background:#e7e8e9 url(../../images/v2/member/d.jpg) repeat-x left bottom; overflow:hidden;
-webkit-border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
-ms-border-radius:5px 5px 0 0;
-o-border-radius:5px 5px 0 0;
border-radius:5px 5px 0 0;}
.Login_top ul{display:table; width:100%; height:35px;}
.Login_top ul li{display:table-cell; width:50%;}
.Login_top ul li a{display:block; color:#606060; height:35px; line-height:35px;}
.Login_top ul li.cur a{background:#f7f7f7; color:#606060; border:1px solid #ebebeb; border-bottom:0;
-webkit-border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
-ms-border-radius:5px 5px 0 0;
-o-border-radius:5px 5px 0 0;
border-radius:5px 5px 0 0;}
.Login_bottom{height:auto; overflow:hidden; padding:10px; border:1px solid #ebebeb; border-top:0; background:#f7f7f7;
-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
-ms-border-radius:0 0 5px 5px;
-o-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;}
.login_wbk{height:40px; border:1px #ebebeb solid; background:#fff; width:90%; text-indent:4px; color:#adadad;}
.Login_bottom td a{color:#606060; font-size:16px;}
.Login_bottom td span{color:#003e76;}
.find input.login_zc{height:36px; border:1px #ebebeb solid; background:#fff; width:65%; text-indent:4px; color:#878787;}

.fmxc{width:100%; background:#fff; position:absolute; left:0; top:0; height:100%; z-index:100; display:none;}
.fmxc_bottom{height:auto; overflow:hidden; margin-top:10px; padding:0 10px 10px 10px;}
.fmxc_bottom ul li{height:40px; margin-top:15px;}
.fmxc_bottom ul li a{display:block; height:38px; line-height:38px; border:1px solid #e4e4e4; background:#ebebeb url(../../images/v2/member/sj.png) no-repeat 98% center; text-align:left; padding-left:15px; color:#5e5e5e; font-size:18px;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;}
.fmxc_bottom ul li:last-child a{background:#f7f7f7 url(../../images/v2/member/sj.png) no-repeat 98% center; font-size:16px;}
.fmxc_but{height:35px; margin-top:15px; text-align:center;}
.fmxc_but a{display:inline-block; width:50%; height:30px; line-height:30px; border:1px solid #d1d1d1; background:#e8e8e9; font-size:18px; text-align:center; color:#5e5e5e;
webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;}

.ghtx_text{height:auto; overflow:hidden; text-align:left; line-height:24px; padding:20px 5%; color:#5e5e5e; font-size:14px;}
.ghtx_img{height:auto; overflow:hidden; text-align:left; margin-top:15px; padding:0 10px;}
.ghtx_img img{width:95px; height:95px;  border:1px solid #ebebeb;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;}

.address_button {padding:10px 0;}
.address_nr {width:100%;height:auto;overflow:hidden;padding:10px 0 0;}
.address_top {border:1px #ebebeb solid;}
.address_t {background-color:#ebebeb;height:40px;}
.address_t a {width:120px;height:40px;line-height:40px;display:inline-block;float:right;color:#4d4e4f;text-align:left;}
.address_t b.mr {background-position:-220px -174px;width:20px;height:30px;line-height:30px;display:inline-block;}
.address_t b.mr2 {background-position:-262px -174px;width:20px;height:30px;line-height:30px;display:inline-block;}
.address_b {clear:both;text-align:left;border-top:1px #e4e4e4 solid;padding:8px;background-color:#f7f7f7;}
.address_t a.address_cur {color:#0059a9;}
.address_b p {line-height:24px;color:#4b4c4d;}
.address_b p span {margin-right:20px;}
.address_bottom {color:#0059a9;text-align:right;}
.address_bottom a {color:#0059a9;padding:10px 10px 0;display:inline-block;}

.address_add {width:100%;height:auto;overflow:hidden;text-align:left;}
.address_add tr td {font-family:"微软雅黑";font-size:14px;height:44px;}
.inputcheckbox a {color:#5e5e5e;}
.address_add input {border: 1px solid #ececec;height: 32px;line-height: 32px;width:90%;margin-right:7px;}
.address_add tr td span.color_red {color:#d71249;line-height:34px;display:inline-block;}
.address_add tr td textarea {width:90%;resize: none;border: 1px solid #ececec;height:100px;margin-right:7px;}

.address_add input.mine_radio {width:14px;height:14px;margin:0; vertical-align:middle;}
.address_add input.mine_check {width:18px;height:18px;margin-right:6px; vertical-align:middle;}

.buy_car {margin:40px auto 0;}
.buy_null p {padding:20px 0;}

.choose_title {text-align:left;line-height:40px;padding:0 10px;font-size:16px;}
.address_b b.choose_icon {background-position:-130px -172px;float:right;}
.address_b p a {color:#4b4c4d;}
.address_b p a.choose_cur {color:#0059a9;}

.buy:last-child {border-bottom: 1px solid #d1d1d1;}
.buy_title {height:30px;line-height:30px;margin-top:6px;font-size:14px;}
.buy_number {clear:both;}
.buy_number span.num_wz {float:left;margin-top:2px;}
.buy_number span.buy_num {height:auto;display:inline-block;overflow:hidden;}
.buy_number span.buy_num a {display: inline-block;width: 26px;height: 28px;line-height: 28px;overflow: hidden;text-align: center;color: #5e5e5e;border: 1px solid #d1d1d1;background: #e8e8e9;font-size: 18px;vertical-align: middle;float:left;}
.buy_number input.buy_sl {width: 26px;height: 28px;line-height: 28px;text-align: center;border: none;background: none;border: 1px solid #d1d1d1;border-left: none;border-right: none;text-indent:0;text-shadow: 1px 1px 2px #fff;overflow: hidden;font-size: 14px;float:left;}
.buy_js {padding:10px;}
.buy_js p {text-align:right;padding:10px 0 20px;}
.buy_js p span {font-size:18px;color:#d71249;}
.buy_number span.buy_jsbutton {height:auto;overflow:hidden;display:inline-block;}
.buy_number span.jr_left {float:left;margin-right:2px;}

.order_tj {padding:10px;}
.order_tj p.order_success {text-align:center;color:#0059a9;font-size:20px;padding:20px 0 24px 0;}
.success_tjbutton {background-position:-258px -90px;}
.wrong_tjbutton {background-position:-8px -174px;}
.order_tj p {text-align:left;line-height:22px;padding:5px 0;}
.order_tj p.order_wrong {text-align:center;}
.order_tj p span {color:#d71249;}
.order_tj p a.dl_login {background: #f2f2f2;height: 28px;line-height: 28px;color: #fff;font-size: 16px;border: 1px #ebebeb solid;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;margin: 0 auto;width: 108px;display: inline-block;text-align: center;}
.order_tj p a.dl_login img {width:76px;height:auto;margin-top:-3px; vertical-align:middle;}

.order_top {line-height:40px;text-align:left;font-size:16px;padding:0 10px;}
.order_xx {position:relative;padding:15px 30px 15px 10px;}
.order_xx a.order_more {background-position:-215px -128px;position:absolute;right:0;top:50%;margin-top:-15px;}
.order_psbg {background-color:#fff;padding:10px;}
.order_ps {border: 1px #ebebeb solid;-webkit-border-radius: 5px;-moz-border-radius: 5px;-ms-border-radius: 5px;-o-border-radius: 5px;border-radius: 5px;margin: 0 auto;background: #f7f7f7;width:100%;height:auto;overflow:hidden;}
.order_ps p {border-bottom:1px #ebebeb solid;padding:0 10px;line-height:40px;}
.order_ps p:last-child {border:none;}
.order_pei {border-bottom:1px #ebebeb solid;padding:0 10px;line-height:40px;position:relative;}
.order_choose {padding:4px 6px;position:relative;}
.order_choose a {color:#4d4e4f;}
.order_choose span.order_choosewz {line-height:30px;}
.order_choose span.order_choosecheck {width:83px;display: inline-block;height: 32px;line-height: 32px;text-align: left;border: 1px solid #ececec;position: relative;text-indent: 5px;vertical-align: top;margin:0;background: #fff;overflow: hidden;}
.choose_blue {color:#0059a9;}
.choose_blue p {color:#0059a9;}
.choose_blue span {color:#0059a9;}
.choose_blue a {color:#0059a9;}
.order_choose .order_choosecheck span {background: url(../../images/v2/boys/s_ico.png) no-repeat center right;float: right;display: block;width: 12px;height: 12px;margin: 12px 5px 0 5px;}
.order_ps b.order_right {background-position:-132px -170px;position:absolute;right:0px;top:50%;margin-top:-15px;}
.order_fp {margin:10px 0;}
.order_fp p {line-height:40px; position:relative;}
.order_fp p b.order_check {background-position: -132px -170px;position: absolute;right: 0px;top: 50%;margin-top: -15px;}
.order_fp p.order_cur {color:#0059a9;}
.order_input {line-height:30px;color:#4d4e4f;text-indent:4px;margin:10px 0;}
.address_b p.order_zs {color:#a3a3a3;line-height:18px;}
.address_b p span.order_color {color:#d71249;margin-right:0;}
.order_price {border:none;}
.order_psbg1 {background-color:#fff;}
.order_shr {border:none;}
.address_add b {margin-right:14px;font-weight:normal;}
.order_top span {color:#d71249;}
.order_top a {color:#0059a9;text-align:right;font-size:14px;width:auto;}
.order_top a.order_red {color:#d71249;}
.order_img {border-top:1px #ebebeb solid;margin-top:10px;width:100%;padding-top:10px;}
.order_img ul li {list-style:none;float:left;width:30%;height:auto;margin-right:4.3%;text-align:center;}
.order_img ul li:last-child {margin-right:0;}
.order_img ul li img {border:1px #ebebeb solid;max-width:100%;}
.order_xq {clear:both;line-height:20px;}
.order_xq a {color:#5e5e5e;}
.boys_dq_right span.tui_sq {width:198px;}

.tui_mine {margin-left:42px;}
.tui_style {height:26px;line-height:25px;font-size:14px;color:#606060;}

.order_zhui table {width:100%;text-align:center;padding:10px 0;}
.order_zhui td { height:50px;line-height:1em; vertical-align:middle; position:relative;}
.order_zhui td.order_cu {color:#d71249;}
.order_zhui td.order_zhuil {text-align:right; word-break:keep-all;white-space:nowrap;}
.order_zhui td.order_zhuir {text-align:left;}
.order_zhui td.order_line {width:40px;text-align:center;background:url(../../images/v2/list/line_bg.jpg) repeat-y scroll center center;}
.order_zhui td.order_line b {-webkit-border-radius:9px;-moz-border-radius:9px;-ms-border-radius:9px;-o-border-radius:9px;border-radius:9px;width:12px;height:12px;background-color:#d1d1d1;display:inline-block; vertical-align:middle;border:3px #f7f7f7 solid;}
.order_zhui td.order_line b.order_cuu {background-color:#d71249;}
.order_zhui td.order_line .order_first{width:40px;height:15px;background-color:#f7f7f7; position:absolute; left:0; top:0;}
.order_zhui td.order_line .order_last{width:40px;height:15px;background-color:#f7f7f7;position:absolute; left:0; bottom:0;}

/* 帮助中心 */
.txt_list{color:#808080;font-weight:100;}
.txt_list_10{ background:#f9f9f9; margin:10px; border:1px #e4e4e4 solid;}
.txt_list li{text-align:left; border-bottom: 1px #e4e4e4 solid;position:relative; overflow:hidden;vertical-align:middle;}
.txt_list a{ color:#0059a9; display:block;padding:12px 15px; line-height:1.1em;}
.txt_list_10 a{ padding:12px 20px;}
.txt_list strong{display: inline-block; margin-right:20px; font-weight:100;}
.on_icon { width:20px; height:20px;background-position:-84px -223px;position:absolute;right:20px;top:50%;margin-top:-8px;}


/*============优惠券=================*/
.coupon { clear:both;border: 1px #e4e4e4 solid; border-bottom:none; margin:15px 0; }
.coupon dt {background-color:#ebebeb;height:40px; padding:0 10px;line-height:40px;clear:both;border-bottom: 1px #e4e4e4 solid;font-size:16px;font-style:normal; text-align:left; color:#000000;}
.coupon dt span {font-weight:100;font-size:14px;float:right;}
.coupon dd {clear: both;text-align:left;border-bottom: 1px #e4e4e4 solid;background-color: #f7f7f7;padding:6px 10px;overflow:hidden;line-height:36px; position:relative;}
.sale_icon {background:url(../../images/v2/member/new_icon1.png) no-repeat;width:36px;height:36px;display:block; background-size:36px 36px;float:left;}
.sale_icon2 {background:url(../../images/v2/member/new_icon2.png) no-repeat;width:36px;height:36px;display:block; background-size:36px 36px;float:left;}
.checked {background-position: -132px -170px;position: absolute;right: 0px;top: 50%;margin-top: -15px;}

.coupon strong {float:left;margin-left:10px;color:#0059a9;}
.coupon i {float:right;margin-right:50px;font-style:normal;color:#acacac; letter-spacing:0.5px; font-size:13px;}

.coupon input {border: 1px solid #ececec;height: 34px;line-height: 34px;width:70%; margin-left:7px; float:left;color:#acacac;}
.coupon .sale_inputlong {width:82%;margin:0 0 7px 7px;}
.coupon .sale_inputlong1 {width:82%;margin:0 0 7px 43px;}
.coupon .sale_inputshort {margin:0 0 0 43px; width:58%;}
.coupon .m-btn{ margin-left:8px;}
.new_sale {background-position:-170px -84px;float:left;width:36px;height:36px;}

#qyk{ display:none;}